.board-box {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &.board-tile {
        min-height: 60px;
    }
    &.action-box {
        div:not(.action-box-absolute) {
            opacity: 0.6;
        }
    }
    &.add-board-box {
        .board-details {
            justify-content: center;
            align-items: center;
            .add-board-icon {
                @include typography-headline-super();
                color: $lightgray;
            }
            .add-board-text {
                @include typography-body();
                font-weight: bold;
            }
        }
        background-color: transparentize($color: $black, $amount: 0.3);
        &:hover {
            background-color: $black;
        }
    }
    .board-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
    }
    cursor: pointer;
    transition: $background-hover;
    @for $span from 1 to 4 {
        &.grid-#{$span} {
            grid-row: span $span;
        }
    }
    @media only screen and (max-width: 1068px) {
        padding: 15px;
    }
    .board-notes {
        margin: 5px 0;
        width: 100%;
        .board-note {
            width: 100%;
            @include typography-body-reduced();
            text-align: left;
            font-weight: bold;
            color: $lightgray;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .board-note-icon {
                font-size: 10px;
                margin-right: 3px;
                margin-top: 3px;
                @media only screen and (max-width: 735px) {
                    margin-top: 1px;
                }
            }
            .board-note-name {
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: $white;
                max-width: calc(100% - 10px);
            }
        }
    }
    .board-name {
        @include typography-intro();
        margin-bottom: 5px;
        text-align: left;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
    }
    .board-title {
        @include typography-intro-reduced();
        text-align: center;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
    }
    .board-time {
        height: 110px;
        margin-top: -80px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: -20px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        background: linear-gradient(180deg, transparent 0%, $low-faded-black 100%);
        @media only screen and (max-width: 1068px) {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-bottom: -15px;
            padding-bottom: 10px;
            padding-right: 10px;
        }
        span {
            @include typography-caption();
            font-weight: bold;
        }
    }

    .board-note-count {
        @include typography-body-reduced();
        margin-top: 5px;
        text-align: left;
        font-weight: bold;
    }
    .action-box-absolute {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        box-sizing: border-box;
        @include typography-intro-reduced();
        font-weight: bold;
        &.action-box-animate {
            @include animate-slide-left(0.3s);
        }
        &:hover {
            border: 1px solid $lightgray;
            span {
                transform: scale(1.3);
            }
        }
        .action-box-container {
            background-color: transparentize($color: $black, $amount: 0.5);
            flex: 1;
            @include center();
            span {
                transition: transform 0.3s ease-out;
                @include animate-fade-in(0.3s);
                animation-delay: 0.3s;
            }
        }
    }
    @each $item in $colors {
        $backgroundColor: $box-grey;
        &.board-box-#{$item} {
            @if $item == red {
                $backgroundColor: transparentize($box-red, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-red, 0.2);
                }
            }
            @if $item == blue {
                $backgroundColor: transparentize($box-blue, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-blue, 0.2);
                }
            }
            @if $item == orange {
                $backgroundColor: transparentize($box-orange, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-orange, 0.2);
                }
            }
            @if $item == yellow {
                $backgroundColor: transparentize($box-yellow, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-yellow, 0.2);
                }
            }
            @if $item == grey {
                $backgroundColor: transparentize($box-grey, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-grey, 0.2);
                }
            }
            @if $item == violet {
                $backgroundColor: transparentize($box-violet, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-violet, 0.2);
                }
            }
            @if $item == brown {
                $backgroundColor: transparentize($box-brown, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-brown, 0.2);
                }
            }
            @if $item == pink {
                $backgroundColor: transparentize($box-pink, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-pink, 0.2);
                }
            }
            @if $item == cyan {
                $backgroundColor: transparentize($box-cyan, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-cyan, 0.2);
                }
            }
            @if $item == green {
                $backgroundColor: transparentize($box-green, 0.4);
                &:not(.action-box):hover {
                    background-color: transparentize($box-green, 0.2);
                }
            }
            background: linear-gradient(45deg, $black 15%, $backgroundColor);
        }
    }
}
