.create-board {
  width: 100%;
  padding: 0px 5% 5%;
  box-sizing: border-box;
  .create-board-header {
    @include typography-intro-super();
    font-weight: bold;
    color: $lightgreen;
    margin-top: -15px;
  }
  .create-board-intro {
    margin-top: 20px;
    @include typography-intro-reduced();
    font-weight: bold;
    color: $lightgray;
    span {
      color: $lightgreen;
      margin-left: 5px;
      font-weight: bold;
    }
  }
  .delete-board {
    margin-bottom: 35px;
  }
  .select-board-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    max-height: 435px;
    overflow: auto;
    @include styled-scroll();
    .board-box {
      &:nth-child(3n) {
        margin-right: 0px;
      }
      min-width: 32%;
      max-width: 32%;
      margin-right: 2%;
      margin-bottom: 10px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $white;
      color: $white;
      border-radius: 10px;
      position: relative;
      box-sizing: border-box;
      @include typography-intro-reduced();
      font-weight: bold;
      transition: background-color 0.3s ease-out;
      cursor: pointer;
      .board-name {
        margin: 0px 10px;
        max-width: calc(100% - 20px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .absolute-board {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $faded-black;
        border-radius: 10px;
        font-size: 35px;
        cursor: not-allowed;
      }
      @each $item in $colors {
        $backgroundColor: $box-grey;
        &.board-box-#{$item} {
          @if $item == red {
            $backgroundColor: transparentize($box-red, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-red, 0.2);
            }
          }
          @if $item == blue {
            $backgroundColor: transparentize($box-blue, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-blue, 0.2);
            }
          }
          @if $item == orange {
            $backgroundColor: transparentize($box-orange, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-orange, 0.2);
            }
          }
          @if $item == yellow {
            $backgroundColor: transparentize($box-yellow, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-yellow, 0.2);
            }
          }
          @if $item == grey {
            $backgroundColor: transparentize($box-grey, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-grey, 0.2);
            }
          }
          @if $item == violet {
            $backgroundColor: transparentize($box-violet, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-violet, 0.2);
            }
          }
          @if $item == brown {
            $backgroundColor: transparentize($box-brown, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-brown, 0.2);
            }
          }
          @if $item == pink {
            $backgroundColor: transparentize($box-pink, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-pink, 0.2);
            }
          }
          @if $item == cyan {
            $backgroundColor: transparentize($box-cyan, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-cyan, 0.2);
            }
          }
          @if $item == green {
            $backgroundColor: transparentize($box-green, 0.4);
            &:not(.action-box):hover {
              background-color: transparentize($box-green, 0.2);
            }
          }
          background-color: $backgroundColor;
        }
      }
    }
  }
  .create-board-form {
    margin-top: 40px;
    .form-label {
      @include form-label();
      margin-top: 45px;
      color: $lightgray;
      margin-bottom: 15px;
    }
    .form-error-row {
      text-align: center;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $red;
      @include typography-body-reduced();
      font-weight: bold;
    }
    input {
      @include form-input();
      padding-bottom: 10px;
      margin-top: 10px;
    }
  }
  .create-board-footer {
    @include typography-body-reduced();
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .standard-button {
      margin-left: 7px;
      margin-right: 0px !important;
    }
  }
}
