.app-footer {
	border-top: 1px solid $darkgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	@include typography-caption();
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	div {
		text-align: center;
		margin: 0 5px;
	}
	.footer-name {
		@include animate-fade-in(0.5s);
		i {
			margin: 0 5px;
			color: $green;
		}
	}
	.footer-social {
		@include typography-body();
		@include animate-rise-block(3, normal, 0.5s);
		i {
			margin: 0 6px;
			color: $green;
		}
		a {
			&:hover {
				cursor: pointer;
				i {
					@include animate-hover(0.3s);
				}
			}
		}
	}
}