.standard-interactive-groups {
    display: flex;
    .standard-interactive-group {
        display: flex;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .standard-interactive {
        margin: 0 3px;
    }
}
.standard-interactive {
    color: $green;
    @include typography-body-reduced();
    background-color: transparentize($color: $green, $amount: 0.6);
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s background-color ease-out;
    &:hover {
        background-color: transparentize($color: $green, $amount: 0.6);
        cursor: pointer;
    }
    i {
        font-size: 13px !important;
    }
    .standard-interactive-badge {
        margin-left: 7px;
        font-weight: bold;
    }
}