.standard-interactive-groups {
    display: flex;
    .standard-interactive-group {
        display: flex;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .standard-interactive {
        margin: 0 3px;
    }
}
.standard-interactive {
    color: $green;
    font-size: 16px;
    background-color: $faded-black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $low-faded-black;
    transition: 0.3s background-color ease-out;
    position: relative;
    &:hover {
        background-color: $low-faded-black;
        cursor: pointer;
    }
    .standard-interactive-badge {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 21px;
        height: 21px;
        font-size: 12px;
        background-color: $green;
        color: $black;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}