@import "../partials/mixins";

.navbar-container {
	height: 70px;
	width: 100vw;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid $darkgray;
	box-sizing: border-box;
	background-color: opacify($color: $black, $amount: 0.4);
}
.navbar {
	@include nav-bar();
}