.note-box {
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 180px;
    background-color: $faded-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 1px 3px 1px $faded-black;
    transition: box-shadow 0.3s ease-out;
    &:hover {
        box-shadow: none;
        cursor: pointer;
    }
    .note-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
    }
    .note-name {
        @include typography-intro-reduced();
        margin-bottom: 15px;
        margin-top: -15px;
        margin-left: -15px;
        width: calc(100% + 30px);
        font-weight: bold;
        border-radius: 10px 10px 0 0;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .note-name-span {
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $white;
            max-width: calc(100% - 23px);
            flex: 1;
        }
        .note-name-pin {
            min-width: 15px;
            margin-left: 8px;
            @include typography-intro-reduced;
            font-weight: bold;
            i {
                color: $lightgray;
                transform: rotate(45deg);
                transition: transform 0.3s ease-out, color 0.3s ease-out;
                &:hover {
                    color: $white;
                    transform: rotate(0deg);
                }
            }
        }
    }
    .note-description {
        @include typography-body-reduced();
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left;
        max-width: 100%;
        color: lightgray;
    }
    .note-owned-by {
        @include typography-body-reduced();
        display: flex;
        align-items: center;
        margin: 15px 0;
        background-color: $darkgray;
        padding-right: 15px;
        box-sizing: border-box;
        border-radius: 17px;
        max-width: 100%;
        .profile-icon {
            margin-right: 10px;
        }
        .note-owned-by-name {
            font-weight: bold;
            text-align: left;
            max-width: calc(100% - 45px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .note-time {
        height: 110px;
        margin-top: -80px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-end;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: -15px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        background: linear-gradient(180deg, transparent 0%, $low-faded-black 100%);
        span {
            @include typography-caption();
            font-weight: bold;
            color: $lightgray;
        }
    }

    .note-preview {
        @include typography-body-reduced();
        margin-bottom: 10px;
        color: lightgray;
        font-weight: bold;
        width: 100%;
        text-align: left;
        span {
            @include typography-body-reduced();
            font-weight: bold;
            padding: 10px 15px;
            min-width: 40px;
            min-height: 40px;
            box-sizing: border-box;
            border-radius: 20px;
            transition: 0.3s background-color ease-out;
            max-width: 100%;
            display: inline-block;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            i {
                margin-right: 10px;
                margin-top: -2px;
            }
        }
    }

    .note-comment-count {
        @include typography-body-reduced();
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
        color: lightgray;
        font-weight: bold;
        span {
            @include typography-body-reduced();
            font-weight: bold;
            padding: 10px;
            min-width: 40px;
            min-height: 40px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s background-color ease-out;
            &:first-child {
                margin-right: 10px;
            }
            i {
                margin-right: 7px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media only screen and (max-width: 735px) {
        padding: 15px 10px;
        .note-name {
            margin-left: -10px;
            width: calc(100% + 20px);
        }
        .note-comment-count {
            margin-bottom: 7px;
            span {
                @include typography-caption();
                font-weight: bold;
                padding: 7px;
                min-width: 35px;
                min-height: 30px;
                &:first-child {
                    margin-right: 7px;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
        .note-preview {
            margin-bottom: 7px;
            span {
                @include typography-caption();
                font-weight: bold;
                padding: 7px 10px;
                min-height: 35px;
                border-radius: 18px;
                i {
                    margin-right: 6px;
                    margin-top: -2px;
                }
            }
        }
        .note-owned-by {
            margin: 10px 0;
            padding-right: 10px;
            border-radius: 17px;
            .profile-icon {
                margin-right: 7px;
            }
            .note-owned-by-name {
                max-width: calc(100% - 35px);
            }
        }
        .note-time {
            width: calc(100% + 20px);
            margin-left: -10px;
        }
    }
}

@each $item in $colors {
    $color: #bfbfbf;
    $boxColor: $box-grey;
    .#{$item}-note-box {
        @if $item == red {
            $color: $box-red;
            $boxColor: $box-red;
        }
        @if $item == blue {
            $color: #6aa6e6;
            $boxColor: $box-blue;
        }
        @if $item == orange {
            $color: $box-orange;
            $boxColor: $box-orange;
        }
        @if $item == yellow {
            $color: $box-yellow;
            $boxColor: $box-yellow;
        }
        @if $item == grey {
            $color: #bfbfbf;
            $boxColor: $box-grey;
        }
        @if $item == violet {
            $color: #d18fbf;
            $boxColor: $box-violet;
        }
        @if $item == brown {
            $color: #c38765;
            $boxColor: $box-brown;
        }
        @if $item == pink {
            $color: $box-pink;
            $boxColor: $box-pink;
        }
        @if $item == cyan {
            $color: $box-cyan;
            $boxColor: $box-cyan;
        }
        @if $item == green {
            $color: $green;
            $boxColor: $box-green;
        }
        .note-name {
            box-shadow: 0px 3px 3px -3px $boxColor;
            background: linear-gradient(45deg, $black 60%, transparentize($boxColor, 0.7));
            .note-name-pin.note-name-pinned i {
                color: lighten($color: $boxColor, $amount: 0.3);
                transform: rotate(0deg);
                &:hover {
                    color: $white;
                }
            }
        }
        .note-comment-count {
            color: $color !important;
            span {
                background-color: transparentize($color: $color, $amount: 0.8);
                &:hover {
                    background-color: transparentize($color: $color, $amount: 0.9);
                }
            }
        }
        .note-preview {
            color: $color !important;
            span {
                background-color: transparentize($color: $color, $amount: 0.9) !important;
            }
        }
    }
}
