.popup-wrapper {
    position: relative;
    i {
        font-size: 17px;
		font-weight: normal;
        color: inherit;
        &:hover {
            cursor: pointer;
        }
    }
    .popup-modal {
		@include animate-fade-in(0.2s);
        min-width: 120px;
		width: 100%;
        border-radius: 5px;
		background-color: $black;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 25px;
		z-index: 9;
		border: 1px solid $gray;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			width: 100%;
			li {
				width: 100%;
				padding: 10px 15px;
				box-sizing: border-box;
				transition: background-color 0.5s ease-out;
				&:hover {
					background-color: lighten($black, 5);
					cursor: pointer;
				}
			}
		}
    }
}