$green: rgb(23, 189, 81);
$black: #202020;
$white: #ffffff;
$faded-black: #1f1e1eb0;
$low-faded-black: rgba(20, 20, 20, 0.6);
$gray: rgb(121, 121, 121);
$lightgray: lightgray;
$lightgreen: lighten($green, 10);
$darkgray: #343434;
$faded-green: rgba(28, 111, 40, 0.27);

$box-red: #E15759;
$box-blue: #4E79A7;
$box-orange: #F28E2B;
$box-yellow: #F1CE63;
$box-grey: #a9a9a9;
$box-violet: #B07AA1;
$box-brown: #9D7660;
$box-pink: #D37295;
$box-cyan: #499894;
$box-green: #59A14F;
$box-selected: rgba(20, 20, 20, 0.1);