@import "./transitions";
@import "./colors";
@import "./typography";
@import "./animations";

@mixin center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin lighten-hover($color, $amount: 5) {
  &:hover {
    background-color: lighten($color, $amount);
  }
}

@mixin darken-hover($color, $amount: 5) {
  &:hover {
    background-color: darken($color, $amount);
  }
}

@mixin standard-button {
  @include lighten-hover($green);
  @include typography-body-reduced();
  cursor: pointer;
  background: $green;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  max-height: 40px;
  font-weight: bold;
  transition: $background-hover;
  color: $black;

  &:disabled {
	  opacity: 0.6;
	  background-color: darken($color: $green, $amount: 10);
	  cursor: not-allowed;
  }
}

@mixin big-button {
  @include standard-button();
  @include typography-label();
  padding: 15px 30px;
  max-height: 60px;
  border-radius: 7px;
  @media only screen and (max-width: 1068px) {
    padding: 15px;
    border-radius: 5px;
  }
}

@mixin block-link {
  color: $lightgreen;
  transition: color 0.5s ease-out;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: lighten($lightgreen, 10);
  }
}

@mixin screen-container($height) {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  .absolute {
    top: 0;
    position: absolute;
    z-index: 3;
  }
  .navbar {
    @include animate-fade-in(0.5s);
  }
  @media only screen and (max-height: $height) {
    min-height: $height;
  }
}

@mixin main-article($height, $justify-content: center) {
  width: 100%;
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: $justify-content;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-height: $height) {
    min-height: $height - 140px;
  }
}

@mixin screen-modal {
  width: 700px;
  max-width: 95vw;
  margin: auto;
  background-color: $faded-black;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 2px $faded-black;
}

@mixin modal-section {
  width: 700px;
  max-width: 95vw;
  margin: auto;
  background-color: $black;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 2px $faded-black;
  border: 1px solid $darkgray;
  z-index: 4;
}

@mixin nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: $white;
  box-sizing: border-box;
  padding: 0 20px;
  .header {
    flex: 1;
    @include typography-intro-super();
  }
}

@mixin form-label {
  width: 100%;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  @include typography-label-reduced();
}

@mixin form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $gray;
  outline: none;
  padding: 5px 0px;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  @include typography-body();
  transition: border-bottom-color 0.5s ease-out;
  &:focus {
    border-bottom-color: $green;
  }
}

@mixin animate-drop-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-drop($duration, $iterator, $direction);
  }
}

@mixin animate-rise-block($elementCount, $direction: normal, $duration: 0.5s) {
  @for $iterator from 1 through $elementCount {
    @include animate-rise($duration, $iterator, $direction);
  }
}

@mixin animate-slide-left-block($elementCount, $direction: normal, $duration: 0.5s) {
  @for $iterator from 1 through $elementCount {
    @include animate-slide-left($duration, $iterator, $direction);
  }
}

@mixin animate-slide-right-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-slide-right($duration, $iterator, $direction);
  }
}

@mixin styled-scroll() {
  &::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 9px;
    margin-left: 3px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: none;
    background-color: lighten($darkgray, 20);
  }
}