$font-family: 'Raleway', 'sans-serif';

@mixin typography-body {
	font-size: 17px;
	font-weight: normal;
	font-family: $font-family;
}

@mixin typography-body-reduced {
	font-size: 14px;
	font-weight: normal;
	font-family: $font-family;
}

@mixin typography-headline-super {
	font-size: 64px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 48px;
	}
	@media only screen and (max-width: 735px) {
		font-size: 40px;
	}
}

@mixin typography-headline {
	font-size: 48px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 40px;
	}
	@media only screen and (max-width: 735px) {
		font-size: 32px;
	}
}

@mixin typography-headline-reduced {
	font-size: 40px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 32px;
	}
	@media only screen and (max-width: 735px) {
		font-size: 28px;
	}
}

@mixin typography-intro {
	font-size: 24px;
	font-weight: normal;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 21px;
	}
}

@mixin typography-intro-reduced {
	font-size: 21px;
	font-weight: normal;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 19px;
	}
}

@mixin typography-label-super {
	font-size: 24px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 21px;
	}
}

@mixin typography-label {
	font-size: 21px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 19px;
	}
}

@mixin typography-label-reduced {
	font-size: 17px;
	font-weight: bold;
	font-family: $font-family;
	@media only screen and (max-width: 1068px) {
		font-size: 14px;
	}
}

@mixin typography-caption {
	font-size: 12px;
	font-weight: normal;
	font-family: $font-family;
}