.board-wrapper {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;

    .board-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(235, 235, 235);
        border-bottom: 1px solid lightgray;
        width: 100%;
        box-sizing: border-box;

        .board-name {
            flex: 1;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .lists-wrapper {
        margin: 20px;
        display: flex;
        width: calc(100% - 40px);
        box-sizing: border-box;
        align-items: stretch;
    }
}