.notes-section {
  @include animate-fade-in(0.3s);
  &.notes-wrapper {
    margin: 0;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    .notes-message-section {
      height: calc(100vh - 244px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .notes-header-section {
        width: 700px;
        max-width: 90vw;
        .note-header {
          @include typography-headline();
          color: $white;
          text-align: center;
        }
      }
      .notes-button-row {
        margin-top: 30px;
        .standard-button {
          @include big-button();
        }
      }
    }
    .notes-container {
      margin: 15px 15px;
      max-width: calc(100vw - 30px);
    }
    .notes {
      @include animate-fade-in(0.3s);
      display: grid;
      grid-template-columns: repeat(3, calc(33.1% - 4px));
      grid-template-rows: repeat(auto, 1fr);
      grid-gap: 10px;
      width: 100%;
      @media only screen and (max-width: 1068px) {
        grid-template-columns: repeat(2, calc(50% - 4px));
        grid-gap: 8px;
      }
      @media only screen and (max-width: 735px) {
        grid-template-columns: repeat(1, 100%);
        grid-gap: 8px;
      }
      .note-box {
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        min-height: 180px;
        background-color: $faded-black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        box-shadow: 1px 1px 3px 1px $faded-black;
        transition: box-shadow 0.3s ease-out;
        &:hover {
          box-shadow: none;
          cursor: pointer;
        }
        .note-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          flex: 1;
        }
        .note-name {
          @include typography-intro-reduced();
          margin-bottom: 20px;
          margin-top: -20px;
          margin-left: -20px;
          width: calc(100% + 40px);
          border-radius: 10px 10px 0 0;
          padding: 15px 20px;
          box-sizing: border-box;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: $white;
        }
        .note-description {
          @include typography-body();
          margin-bottom: 10px;
          text-align: left;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: lightgray;
        }
        .note-time {
          height: 110px;
          margin-top: -80px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          width: calc(100% + 40px);
          margin-left: -20px;
          margin-bottom: -20px;
          padding-bottom: 15px;
          padding-right: 15px;
          box-sizing: border-box;
          border-radius: 0 0 10px 10px;
          background: linear-gradient(
            180deg,
            transparent 0%,
            $low-faded-black 100%
          );
          span {
            @include typography-caption();
            color: $lightgray;
          }
        }

        .note-comment-count {
          @include typography-caption();
          margin-top: 5px;
          text-align: left;
          color: lightgray;
        }
      }
    }
  }
  .notes-header {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    @include animate-fade-in(0.5s);
    &.multi-options {
      justify-content: space-between;
      .notes-left-header {
        margin-left: 20px;
        @include typography-intro();
        color: $white;
        line-height: 37px;
      }
      .option-wrapper {
        display: flex;
        margin-right: 20px;
        align-items: center;
        ul {
          @include typography-label-reduced();
          font-weight: normal;
        }
        color: $white;
        .standard-button {
          margin-right: 10px;
        }
        .popup-button {
          margin-right: 0px;
        }
      }
    }
    .note-header-name {
      padding-right: 15px;
      padding-left: 150px;
      padding-bottom: 15px;
      @include typography-intro-super();
      @media only screen and (max-width: 1068px) {
        padding-left: 100px;
      }
      @media only screen and (max-width: 735px) {
        padding-left: 60px;
      }
    }
    .standard-button {
      margin-right: 20px;
    }
  }
  .note-wrapper {
    margin: 15px 10px 0;
    height: calc(100vh - 140px);
    background: $faded-black;
    max-width: calc(100vw - 20px);
    padding: 25px;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    color: $white;
    @include animate-fade-in(0.3s);
    @media only screen and (max-width: 1068px) {
      padding: 15px;
    }
    div:focus {
      outline: none;
    }
    .note-title {
      position: relative;
      input {
        @include typography-intro-super();
        border: none;
        background: none;
        outline: none !important;
        color: $white;
        width: 100%;
      }
      margin-bottom: 20px;
      margin-top: 5px;
    }
    .note-description {
      position: relative;
      input {
        @include typography-intro();
        border: none;
        background: none;
        outline: none !important;
        color: $white;
        width: 100%;
      }
      margin-bottom: 20px;
    }
    .note-length {
      position: absolute;
      @include typography-caption();
      color: $box-grey;
      right: 5px;
    }
    .note-story {
      @include typography-body();
      font-weight: lighter;
      height: calc(100vh - 278px);
      .DraftEditor-editorContainer {
        height: calc(100vh - 278px);
      }
      .public-DraftEditor-content {
        height: 100%;
      }
      @media only screen and (max-height: 500px) {
        height: 222px;
        .DraftEditor-editorContainer {
          height: 222px;
        }
      }
      @media only screen and (max-width: 1068px) {
        height: calc(100vh - 260px);
        .DraftEditor-editorContainer {
          height: calc(100vh - 260px);
        }
        @media only screen and (max-height: 500px) {
          height: 240px;
          .DraftEditor-editorContainer {
            height: 240px;
          }
        }
      }
      @media only screen and (max-width: 735px) {
        height: calc(100vh - 252px);
        .DraftEditor-editorContainer {
          height: calc(100vh - 252px);
        }
        @media only screen and (max-height: 500px) {
          height: 248px;
          .DraftEditor-editorContainer {
            height: 248px;
          }
        }
      }
      overflow: auto;
      position: relative;
      .public-DraftEditorPlaceholder-root {
        position: absolute;
        top: 0;
        color: $gray;
        user-select: none;
      }

      a {
        @include block-link();
        text-decoration: none;
      }
      .editor-blockquote,
      .public-DraftStyleDefault-ul,
      .public-DraftStyleDefault-ol,
      .public-DraftStyleDefault-pre,
      h2 {
        background-color: transparentize(
          $color: $low-faded-black,
          $amount: 0.4
        );
        margin: 10px 0;
        padding: 20px 10px;
        padding-left: 60px;
        border-radius: 15px;
        position: relative;
        color: $lightgray;
        &:before {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 100%;
          width: 50px;
          @include center();
          background-color: $low-faded-black;
          border-radius: 15px 0 0 15px;
          font: normal normal normal 16px/1 FontAwesome;
        }
      }
      h2 {
        padding-left: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 1px solid $gray;
      }
      .editor-blockquote {
        &:before {
          content: "\f10d";
        }
      }
      .public-DraftStyleDefault-ul {
        padding-left: 75px;
        &:before {
          content: "\f0ca";
        }
      }
      .public-DraftStyleDefault-ol {
        padding-left: 75px;
        &:before {
          content: "\f0cb";
        }
      }
      .public-DraftStyleDefault-pre {
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 20px;
        max-width: 100%;
        overflow: scroll;
        pre {
          margin: 2px 0;
        }
        &:before {
          content: "\f121";
        }
      }
    }
  }
}

@each $item in $colors {
  $color: #bfbfbf;
  $boxColor: $box-grey;
  .#{$item}-section {
    @if $item == red {
      $color: $box-red;
      $boxColor: $box-red;
    }
    @if $item == blue {
      $color: #6aa6e6;
      $boxColor: $box-blue;
    }
    @if $item == orange {
      $color: $box-orange;
      $boxColor: $box-orange;
    }
    @if $item == yellow {
      $color: $box-yellow;
      $boxColor: $box-yellow;
    }
    @if $item == grey {
      $color: #bfbfbf;
      $boxColor: $box-grey;
    }
    @if $item == violet {
      $color: #d18fbf;
      $boxColor: $box-violet;
    }
    @if $item == brown {
      $color: #c38765;
      $boxColor: $box-brown;
    }
    @if $item == pink {
      $color: $box-pink;
      $boxColor: $box-pink;
    }
    @if $item == cyan {
      $color: #38aaa4;
      $boxColor: $box-cyan;
    }
    @if $item == green {
      $color: $green;
      $boxColor: $box-green;
    }
    .note-box .note-name {
      box-shadow: 0px 3px 3px -3px $boxColor;
      background-color: #1c1c1c;
    }
    .note-header-name {
      box-shadow: 10px 3px 6px -4px $boxColor;
      color: $color;
    }

    .standard-button:not(.footer-button) {
      background-color: $color !important;
      &:hover {
        background-color: lighten($color, 5) !important;
      }
    }
    .standard-badge {
      background-color: $color;
    }
    .editor-blockquote,
    .public-DraftStyleDefault-ul,
    .public-DraftStyleDefault-ol,
    .public-DraftStyleDefault-pre,
    h2 {
      &:before {
        color: $color;
      }
    }
  }
}
