@import "../partials/mixins";

.welcome-screen {
  $height: 500px;
  @include screen-container($height);

  .welcome-main {
    color: $white;

    .welcome-content {
      width: 100vw;

      .welcome-article {
        @include main-article($height);
        @include animate-rise-block(3);

        .welcome-header-section {
          width: 700px;
          text-align: center;
          max-width: 90%;

          .welcome-header {
            @include typography-headline();
          }
          .welcome-subheader {
            margin-top: 20px;
            @include typography-intro();
          }

          .welcome-button-row {
            margin-top: 45px;
            button {
              @include big-button();
            }
          }
        }
      }
    }
  }
}

.login-content {
  $height: 500px;
  width: 100vw;

  .login-article {
    @include main-article($height);
    @include animate-fade-in(0.5s);

    .login-modal {
      @include screen-modal();

      .login-header {
        @include typography-headline-reduced();
        color: $lightgreen;
      }
      .login-subheader {
        margin-top: 20px;
        @include typography-intro-reduced();
        color: $lightgray;
        span {
          @include block-link();
        }
      }
      .login-form {
        margin-top: 50px;
        .form-label {
          @include form-label();
          margin-top: 45px;
          color: $lightgray;
        }
        .form-error-row {
          text-align: center;
          min-height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $red;
          @include typography-body-reduced();
          font-weight: bold;
        }
        input {
          @include form-input();
          padding-bottom: 10px;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
		input:-webkit-autofill:active  {
			@include form-input();
          	-webkit-box-shadow: 0 0 0 30px $black inset !important;
			-webkit-text-fill-color: $white !important;
        }
      }
      .login-footer {
        @include typography-body-reduced();
        display: flex;
        justify-content: space-between;
        align-items: center;

        .login-footer-link-wrapper {
          span {
            margin-right: 5px;
          }
          .login-footer-link {
            @include block-link();
          }
        }
      }
    }
  }
}
