.popup-wrapper {
    position: relative;
    i {
        font-size: 20px;
        color: rgb(50, 50, 50);
        &:hover {
            cursor: pointer;
        }
    }
    .popup-modal {
        min-width: 100px;
        border-radius: 5px;
        border: 1px solid lightgray;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 20px;
        z-index: 2;
        button {
            background-color: white;
            width: 100%;
            border-radius: 0px;
            &:hover {
                background-color: rgb(235, 235, 235);
            }
        }
    }
}