@import "./partials/mixins";
@import "./components/pallete";
@import "./components/modal";
@import "./pages/welcome";
@import "./pages/loader";
@import "./pages/home";
@import "./components/footer";
@import "./components/navbar";
@import "./components/loader";
@import "./components/popup";
@import "./pages/boards";
@import "./components/createboard";

body {
    margin: 0px;
	background-color: $black;
}

.standard-button {
	@include standard-button();
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
