.boards-wrapper {
    margin: 20px;
    .board-tile-header {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0px;
    }
    .board-tiles-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .board-tile {
            width: 150px;
            height: 150px;
            max-width: 30vw;
            min-width: 75px;
            max-height: 10vh;
            min-height: 75px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: rgb(235, 235, 235);
            border-radius: 10px;
            border: 1px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: rgb(215, 215, 215);
            }
            .board-tile-name {
                text-align: center;
                padding: 0 10px;
                font-weight: bold;
                box-sizing: border-box;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.board-tile-last {
                background-color: white;
                &:hover {
                    background-color: rgb(245, 245, 245);
                }
            }
            &.board-tile-current {
                background-color: rgb(175, 175, 175);
                &:hover {
                    background-color: rgb(175, 175, 175);
                }
            }
        }
    }
}