.screen-loader {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  .loading-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    .loading-text {
      color: white;
      font-size: 32px;
      width: 150px;
	  font-weight: bold;
    }
  }
}
