.modal-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(50 ,50 ,50, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-section {
        width: 400px;
        max-width: 95vw;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: white;

        .modal-header {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 20px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(235, 235, 235);

            .modal-header-label {
                font-weight: 600;
                font-size: 18px;
            }
        }

        .modal-content {
            padding: 20px;
            width: 100%;
            box-sizing: border-box;

            .form-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .form-label {
                    font-weight: 600;
                    width: 150px;
                }

                input {
                    flex: 1;
                }
            }
        }

        .modal-footer {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 20px;
            align-items: center;
            justify-content: flex-end;
            border-top: 1px solid rgb(235, 235, 235);

            button {
                margin-left: 10px;
            }
        }
    }
}