.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.6);
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-section {
    width: 700px;
    z-index: 4;
    max-width: 95vw;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    color: rgb(195, 195, 195);
    border: 1px solid rgba(50, 50, 50, 0.8);

    .modal-header {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      justify-content: flex-end;
      align-items: center;

      .modal-header-label {
        font-weight: 600;
        font-size: 18px;
      }
      .close-button {
        cursor: pointer;
        color: rgb(23, 189, 81);
        background-color: transparent;
        border: none;
        outline: none;
        font-family: inherit;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: rgb(35, 212, 97);
        }
      }
    }

    .modal-content {
      padding: 20px 40px;
      width: 100%;
      box-sizing: border-box;

      .modal-content-header {
        color: rgb(23, 189, 81);
        width: 100%;
        text-align: center;
        font-size: 42px;
        font-weight: bolder;
        margin-bottom: 15px;
      }
      @media only screen and (max-width: 735px) {
        .modal-content-header {
          font-size: 32px;
        }
      }

      .modal-content-subheader {
        color: rgb(155, 155, 155);
        font-size: 18px;
        width: 100%;
        text-align: center;
      }

      .modal-form {
        margin-top: 50px;
      }

	  .form-error-row {
		  width: 100%;
		  text-align: center;
		  color: rgb(23, 189, 81);
		  font-size: 14px;
	  }

      .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;

        .form-label {
          flex: 1;
          font-weight: bolder;
          width: 100%;
          margin-bottom: 15px;
          font-size: 17px;
        }

        input {
          flex: 1;
          background-color: transparent;
          border-width: 0px 0px 1px 0px;
          border-bottom-color: rgba(50, 50, 50, 0.8);
          color: white;
          font-size: 17px;
          width: 100%;
          margin-bottom: 15px;
          padding-bottom: 5px;
          transition: border-bottom-color 0.5s ease-out;
          &:focus {
            border-bottom-color: rgb(23, 189, 81);
          }
		  &[type='password'] {
			color: rgb(23, 189, 81);
			font-size: 22px;
		  }
        }
      }
    }

    .modal-footer {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 40px 30px 40px;
      align-items: center;
      justify-content: space-between;

      .modal-footer-link-wrapper {
        .modal-footer-link {
          background-color: transparent;
          border: none;
          outline: none;
          color: rgb(23, 189, 81);
          font-size: 17px;
          transition: color 0.5s ease-out;
          &:hover {
            cursor: pointer;
            color: rgb(35, 212, 97);
          }
        }
		span {
			margin-right: 5px;
		}
		flex: 1;
      }

      .standard-button {
        margin-left: 10px;
      }
    }
  }
}
