body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
button {
    cursor: pointer;
    background: rgb(235, 235, 235);
    border: none;
    outline: none;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: rgb(215, 215, 215);
    }
}
input {
    border: none;
    border-bottom: 1px solid rgb(235, 235, 235);
    outline: none;
    font-family: inherit;
    font-size: 14px;

    &.error-input {
        border-color: red;
    }
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
